/* page title styles */
#page__title {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.page__title__text {
	font-size: 2.2rem;
	color: var(--white-1);
}
@media only screen and (min-width: 768px) {
	#page__title {
		padding-top: 5rem;
		padding-bottom: 3rem;
	}
	.page__title__text {
		font-size: 3.6rem;
	}
}
/* Dish Grid Styles */
#topDishes {
	padding-bottom: 0;
}
#topDishes:last-of-type {
	padding-bottom: 10rem;
}

#pizzaClassicheDisches {
	padding-bottom: 0;
}
#pizzaClassicheDisches:last-of-type {
	padding-bottom: 10rem;
}

#specialiDishes {
	padding-bottom: 0;
}
#specialiDishes:last-of-type {
	padding-bottom: 10rem;
}

#cremoseDishes {
	padding-bottom: 0;
}
#cremoseDishes:last-of-type {
	padding-bottom: 10rem;
}

#focacceDishes {
	padding-bottom: 0;
}
#focacceDishes:last-of-type {
	padding-bottom: 10rem;
}

#dolciDishes {
	padding-bottom: 0;
}
#dolciDishes:last-of-type {
	padding-bottom: 10rem;
}
